#textdomain wesnoth-anh

[scenario]
	id=07_early_happy
	name= _ "Early Happy"
	map_data="{~add-ons/A_New_Home/maps/07_early_happy.map}"
	victory_when_enemies_defeated=no
	turns=1
	theme=Cutscene_Minimal
	next_scenario=08_the_hunt
	
	{SCENARIO_MUSIC "weight_of_revenge.ogg"}
	
	# S I D E _ C O N F I G U R A T I O N
	
	# SIDE 1
	[side]
		side=1
		save_id=korstad
		controller=human
		gold=0
		income=0
		team_name=Korstad
		user_team_name= _ "Denvan"
		{FLAG_VARIANT loyalist}
		{CHARACTER_DENVAN}
	[/side]
	
	# SIDE 2
	[side]
		side=2
		controller=ai
		team_name=Orcs
		user_team_name= _ "Roglok"
		{FLAG_VARIANT ragged}  
	[/side]

	# PREDIALOQUE
	[event]
		name=start

		[recall]
			id=Ysedda
			show=no
		[/recall]

		[recall]
			id=Lenvan
			show=no
		[/recall]

		[recall]
			id=Ven
			show=no
		[/recall]

		[recall]
			id=Brealla
			show=no
		[/recall]

		[recall]
			id=Gweod
			show=no
		[/recall]

		[recall]
			id=Johan
			show=no
		[/recall]

		[recall]
			id=Adhor
			show=no
		[/recall]

		[message]
			caption="Veomyr"
			speaker=narrator
			image=portraits/veomyr.png
			# po: "Die Korstadter konnten ein Stück weit fliehen und die Orks erneut hinter sich lassen, doch waren sie noch weit vom Frieden entfernt, den sich Denvan und Ysedda für ihr Volk wünschten."
			message= - "The people of Korstad were able to leave the orcs behind and flee, but piece Denvan and Ysedda wish for their folks was still far away."
		[/message]
		
		[message]
			speaker=Lenvan
			# po: "Gut, wir sind aus dem Gebiet der Orks entkommen. Was kommt als Nächstes?"
			message= - "Good, we escaped from the territory of the orcs. What's next?"
		[/message]

		[message]
			speaker=Denvan
			# po: "Wir werden sie nicht angreifen, wenn du das meinst."
			message= - "We will not attack them, if that is what you had in mind."
		[/message]

		# Nur wenn Ven da ist
		[message]
			speaker=Ven
			# po: "Das wäre Selbstmord. Und dumm."
			message= - "It would be suicide. And stupid."
		[/message]

		[message]
			speaker=Lenvan
			# po: "Wir können sie aber auch nicht einfach dort lagern lassen! Sie starten Angriffe von hier. Wenn wir nichts unternehmen, dann können wir ihnen genauso gut helfen!"
			message= - "But we cannot let them camp there either. They start assaults from here. If we don't take action, we might as well help them!"
		[/message]

		# Nur wenn Brealla da ist
		[message]
			speaker=Brealla
			# po: "Ich bezweifle, dass sie unsere Hilfe annehmen würden."
			message= - "I doubt they would accept our help."
		[/message]

		[message]
			speaker=Denvan
			# po: "Was sollen wir gegen diese Streitmacht ausrichten? Wir haben keine Chance gegen sie zu bestehen! Einen weiteren Kampf würden wir nicht überleben!"
			message= - "What shall we do against their forces? We don't stand a chance against them! We would not survive another fight!"
		[/message]

		[message]
			speaker=Lenvan
			# po: "Das wissen wir nicht, wenn wir es nicht versuchen!"
			message= - "We don't know that, if we don't try!"
		[/message]

		[message]
			speaker=Ysedda
			# po: "Und was, wenn du dich irrst, Lenvan? Was glaubst du, passiert wenn wir angreifen und verlieren?"
			message= - "And what if you are wroing, Lenvan? What do you think will happen when we attack and lose?"
		[/message]

		[message]
			speaker=Lenvan
			# po: "Ich habe kein Problem damit, in einem ehrenhaften Kampf zu sterben, wenn es denn sein soll!"
			message= - "I have no problem dying an honorable death, if it is meant to happen!"
		[/message]

		# Nur wenn Ven da ist
		[if]
			[have_unit]
				id=Ven
			[/have_unit]
			[then]
				[message]
					speaker=Ven
					# po: "<span size='small' font-style='italic'>leise</span> Verdammter Irrer."
					message= - "<i>quietly</i> Darn you, moron."
				[/message]
				
				[message]
					speaker=Adhor
					# po: "Er meint es gut. Er denkt nur nicht weit genug."
					message= - "He means well. He is just not thinking to the end."
				[/message]
			[/then]
		[/if]
		

		[message]
			speaker=Johan
			# po: "<span size='small' font-style='italic'>zornig</span>Du wärst nicht der einzige, der sterben würde! Jeder hier, vom jüngsten Kind bis zum ältesten Greis würde sterben, nur um deine Kampfeslust zu befriedigen!"
			message= - "<i>angry</i> You would not the only one who would die! Everyone here, from the youngest child to the oldest man would die, just to server your pugnacity!"
		[/message]

		[message]
			speaker=Lenvan
			# po: "..."
			message= - "..."
		[/message]

		[message]
			speaker=Denvan
			# po: "Wir werden nicht mehr kämpfen, wenn es sich irgendwie vermeiden lässt."
			message= - "We won't fight anymore, if we can prevent it from happening."
		[/message]

		[message]
			speaker=Lenvan
			# po: "Und die anderen Dörfer? Lassen wir die einfach den Orks zum Opfer fallen?"
			message= - "And the other villages? Will we just let them fall victims to the orcs?"
		[/message]

		[message]
			speaker=Denvan
			# po: "Wenn wir etwas weiter und sicherer sind, schicken wir unsere Schnellsten los, um Haldrics Truppen zu informieren. Mehr können wir nicht tun."
			message= - "When we are a bit further and save, we will send your quickest, to inform Haldric's troops. That is all we can do."
		[/message]

		[message]
			speaker=Lenvan
			# po: "Das ist aber nich-"
			message= - "But that's no-"
		[/message]

		# Roglok taucht auf
		[unit]
			{CHARACTER_ROGLOK}
			side=2
			x,y=18,1
		[/unit]

		[message]
			speaker=Roglok
			# po: "host" is an archaic expression for army.
			# po: "Was haben wir denn hier? Mehr Arbeiter für unser Heer! Ergebt euch und ihr werdet leben, als Teil der glorreichen Horde Morgals!"
			message= - "What do we have here? More workerst for our host! Surrender and you will live, as part of the glorious horde of Morgal!"
		[/message]

		[message]
			speaker=Ysedda
			# po: "Denvan, was sollen wir tun?"
			message= - "What should we do, Denvan?"
		[/message]

		[message]
			speaker=Denvan
			# po: "<span size='small' font-style='italic'>niedergeschlagen</span> Wir können nicht mehr kämpfen. Wir würden sterben. Wenn wir zu fliehen versuchen, laufen wir nur den anderen Orks in die Arme. Wenn sie uns gefangen nehmen, überleben wir vielleicht."
			message= - "<i>downhearted</i> We cannot fight another fight. We would die. When we try to escape, we would only run into the other orcs. When they take us captive, we might survive."
		[/message]

		# Nur wenn Clewin da ist
		[if]
			[have_unit]
				id=Clewin
			[/have_unit]
			[then]
				[message]
					speaker=Clewin
					# po: "Lieber ein Leben in Ketten, als gar keines."
					message= - "Better a life in chains than no life at all."
				[/message]
				
				[message]
					speaker=Ven
					# po: "Ketten kann man auf jeden Fall leichter loswerden, als den Tod."
					message= - "In any case one can lose chains better that death."
				[/message]
			[/then]
		[/if]

		# Nur wenn Gweod da ist
		[if]
			[have_unit]
				id=Gweod
			[/have_unit]
			[then]
				 [message]
					speaker=Gweod
					# po: "Das ist ein Fehler. Wir sollten ihnen nicht trauen!"
					message= - "This is a mistake. We should not trust them!"
				[/message]
				
				[message]
					speaker=Denvan
					# po: "Wir ergeben uns auch nicht, weil wir ihnen vertrauen. Wir haben nur keine andere Wahl."
					message= - "We don't surrender because we trust them. We just don't have a choice."
				[/message]
			[/then]
		[/if]

		[message]
			speaker=Roglok
			# po: "Hört auf euren Anführer! Wenn ihr euch fügt, werdet ihr leben! Kämpft und ihr sterbt!"
			message= - "Listen to your Leader! When you give in, you will live! Fight, and you die!"
		[/message]

		[message]
			caption="Veomyr"
			speaker=narrator
			image=portraits/veomyr.png
			# po: "Die Korstadter fügten sich um zu überleben und gerieten so in die Gefangenschaft der Orks."
			message= - "To survive, the people of Korstad gave in and got into the captivity of the orcs"
		[/message]

		[endlevel]
			result=victory
			linger_mode=no
			carryover_report=no
			replay_save=no
			carryover_add=yes
			carryover_percentage=100
		[/endlevel]
	[/event]
[/scenario]