#textdomain wesnoth-anh

[scenario]
	id=09_2_riot
	name= _ "Riot"
	map_data="{~add-ons/A_New_Home/maps/09_2_riot.map}"
	turns=30
	next_scenario=10_mutiny
	
	{DEFAULT_SCHEDULE_SECOND_WATCH}
	
	{SCENARIO_MUSIC "loyalists.ogg"}
	{EXTRA_SCENARIO_MUSIC "wanderer.ogg"}
	{EXTRA_SCENARIO_MUSIC "northern_mountains.ogg"}
	{EXTRA_SCENARIO_MUSIC "casualties_of_war.ogg"}
	{EXTRA_SCENARIO_MUSIC "battle.ogg"}
	
	{STARTING_VILLAGES 3 30}

	[event]
		name=prestart
		{VARIABLE slaves_saved 0}

		{MODIFY_UNIT x,y=33,3 status.guardian yes}
		{MODIFY_UNIT x,y=30,12 status.guardian yes}
		{MODIFY_UNIT x,y=31,19 status.guardian yes}
		{MODIFY_UNIT x,y=14,6 status.guardian yes}
		{MODIFY_UNIT x,y=15,13 status.guardian yes}
		{MODIFY_UNIT x,y=5,15 status.guardian yes}
	[/event]
	# S T O R Y
	
	# S I D E _ C O N F I G U R A T I O N
	
	# SIDE 1
	[side]
		side=1
		save_id=korstad
		controller=human
		gold=100
		income=0
		team_name=Korstad
		user_team_name= _ "Korstadter"
		{FLAG_VARIANT loyalist}
		{CHARACTER_LENVAN}
		defeat_condition=no_units_left
		
		# UNITS
		
		# AI
	[/side]
	
	# SIDE 2
	[side]
		side=2
		controller=ai
		gold=100
		team_name=Korstad
		user_team_name= _ "Dwinbar"
		{FLAG_VARIANT knalgan}   
		{CHARACTER_DWINBAR}

		# UNITS
		
		# AI
	[/side]
	
	# SIDE 3
	[side]
		side=3
		controller=ai
		gold=320
		income=12
		team_name=Orcs
		user_team_name= _ "Wroell"
		{FLAG_VARIANT ragged}	 
		{CHARACTER_WROELL}
		canrecruit=yes

		{GENERIC_UNIT 3 (Orcish Warlord) 33 3}
		{GENERIC_UNIT 3 (Orcish Warrior) 30 12}
		{GENERIC_UNIT 3 (Orcish Warrior) 31 19}
		{GENERIC_UNIT 3 (Orcish Crossbowman) 14 6}
		{GENERIC_UNIT 3 (Orcish Warrior) 15 13}
		{GENERIC_UNIT 3 (Orcish Slurbow) 5 15}
	[/side]
	# P R E S T A R T
	
	# PREDIALOQUE
	[event]
		name=start

		[recall]
			id=Ysedda
			x,y=23,2
		[/recall]

		[recall]
			id=Ven
			x,y=23,2
		[/recall]

		[recall]
			id=Adhor
			x,y=23,2
		[/recall]

		[recall]
			id=Bisam
			x,y=23,2
		[/recall]

		[message]
			speaker=Lenvan
			# po: "Endlich können wir uns wehren! Lasst uns Orks jagen!"
			message= _ "Finally we can fight back! Let’s hunt Orcs!"
		[/message]
	[/event]

	# ENEMY CONTACT
	[event]
		name=attack
		[filter_second]
			side=3
		[/filter_second]

		[message]
			speaker=Wroell
			# po: "Wir werden angegriffen! Tötet jeden Feind! Lasst sie nicht die Sklaven befreien! <span size='small' font-style='italic'>leise</span> Ich hätte nicht für Karga einspringen sollen…<span size='small' font-style='italic'>laut</span> Erledigt die Kleinen zuerst! Das sind leichte Ziele!"
			message= _ "We’re being attacked! Kill all enemies! Don’t let them free the slaves! <span size='small' font-style='italic'>softly</span> I shouldn’t have stepped in for Karga…<span size='small' font-style='italic'>loudly</span> Finish off the little ones first! They are easy targets!"
		[/message]

		[message]
			speaker=Dwinbar
			# po: "Das werden wir ja sehen, du zu lang geratenes Monster!"
			message= _ "We’ll see about that, you overgrown monster!"
		[/message]
	[/event]

	# FREE THE SLAVES: BREALLA AND PETAR
	[event]
		name=moveto
        [filter]
			side=1
			x,y=31,19
		[/filter]

		[recall]
			id=Petar
			x=$x1
			y=$y1
		[/recall]

		[recall]
			id=Brealla
			x=$x1
			y=$y1
		[/recall]

		[if] 
			[have_unit]
				id=Petar
				search_recall_list=yes
			[/have_unit]
			[and]
				[have_unit]
					id=Brealla
					search_recall_list=yes
				[/have_unit]
			[/and]
			[then]
				[message]
					speaker=Petar
					# po: ""
					message= _ "Finally! I knew someone would come free us! You can rely on Denvan and Lenvan, that’s what I told you, Brealla! Just like in the siege three years ago, when I was trapped in a burning castle with another group of soldiers and everyone had already given up, because it was too dangerous to open the gates."
				[/message]
				[message]
					speaker=Petar
					# po: ""
					message= _ "We also couldn’t open them from inside, because the rubble blocked the way outside and we never would have survived slowly pushing the gate open, but-"
				[/message]
				[message]
					speaker=Petar
					# po: ""
					message= _ "We are in the middle of a new story, Petar. Look around you and make note of everything so that you’ll be able to tell about it later!"
				[/message]
			[/then]
		[/if]
		[if] 
			[have_unit]
				id=Petar
				search_recall_list=yes
			[/have_unit]
			[not]
				[have_unit]
					id=Brealla
					search_recall_list=yes
				[/have_unit]
			[/not]
			[then]
				[message]
					speaker=Petar
					# po: ""
					message= _ "I knew someone would come and save us! But I never would have thought that an army of little people would play a role! Of course I have already seen small fighters and one should not underestimate them, since they have an advantage against someone who is used to fighting normal people, but so many in one place? That-"
				[/message]
				[message]
					speaker=Lenvan
					# po: ""
					message= _ "<span size='small' font-style='italic'>loudly</span>Petar! The battle awaits, so stop talking and fight!"
				[/message]
			[/then]
		[/if]
		[if] 
			[have_unit]
				id=Brealla
				search_recall_list=yes
			[/have_unit]
			[not]
				[have_unit]
					id=Petar
					search_recall_list=yes
				[/have_unit]
			[/not]
			[then]
				[message]
					speaker=Petar
					# po: ""
					message= _ "I knew someone would come and save us! But I never would have thought that an army of little people would play a role! Of course I have already seen small fighters and one should not underestimate them, since they have an advantage against someone who is used to fighting normal people, but so many in one place? That-"
				[/message]
				[message]
					speaker=Lenvan
					# po: ""
					message= _ "<span size='small' font-style='italic'>loudly</span>Petar! The battle awaits, so stop talking and fight!"
				[/message]
			[/then]
		[/if]
	[/event]

	# FREE THE SLAVES: GWEOD
	[event]
		name=moveto
		[filter]
			side=1
			x,y=15,13
		[/filter]

		[recall]
			id=Johan
			x=$x1
			y=$y1
		[/recall]

		[recall]
			id=Gweod
			x=$x1
			y=$y1
		[/recall]

		[if] 
			[have_unit]
				id=Gweod
				search_recall_list=yes
			[/have_unit]
			[not]
				[have_unit]
					id=Johan
					search_recall_list=yes
				[/have_unit]
			[/not]
			[then]
				[message]
					speaker=Gweod
					# po: ""
					message= _ "Johan sacrificed himself so that many of us could live to see this day. And I nearly would have led everyone to ruin."
				[/message]
			[/then]
			[else]
				[message]
					speaker=Johan
					# po: ""
					message= _ "A new chance for freedom! For Korstad!"
				[/message]
			[/else]
		[/if]
	[/event]

	# FREE THE SLAVES: SCOUTS
	
	# FREE THE SLAVES: GLENRY + DENVAN
	[event]
		name=moveto
		[filter]
			side=1
			x,y=33,3
		[/filter]
		
		[recall]
			id=Denvan
			x=$x1
			y=$y1
		[/recall]

		[recall]
			id=Glenry
			x=$x1
			y=$y1
		[/recall]
	
		[message]
			speaker=Denvan
			# po: "TODO: Befreiungstext für Denvan"
			message= _ "t"
		[/message]


		[message]
			speaker=Glenry
			# po: "TODO: Befreiungstext für Glenry"
			message= _ "t"
		[/message]

	[/event]

		# FREE THE SLAVES: SLAVES #1
		[event]
			name=moveto
			[filter]
				side=1
				x,y=14,6
			[/filter]
	
			[recall]
				level=3,2,1
				[not]
					id=Denvan, Lenvan, Ysedda, Petar, Brealla, Gweod, Adhor, Clewin, Bisam, Dehal, Ven, Johan
				[/not]
				x=$x1
				y=$y1
			[/recall]
	
			[recall]
				level=2,1,0
				[not]
					id=Denvan, Lenvan, Ysedda, Petar, Brealla, Gweod, Adhor, Clewin, Bisam, Dehal, Ven, Johan
				[/not]
				x=$x1
				y=$y1
			[/recall]
		[/event]
	
		# FREE THE SLAVES: SLAVES #2
		[event]
			name=moveto
			[filter]
				side=1
				x,y=30,12
			[/filter]
	
			[recall]
				level=2,1,0
				[not]
					id=Denvan, Lenvan, Ysedda, Petar, Brealla, Gweod, Adhor, Clewin, Bisam, Dehal, Ven, Johan
				[/not]
				x=$x1
				y=$y1
			[/recall]
	
			[recall]
				level=1,0
				[not]
					id=Denvan, Lenvan, Ysedda, Petar, Brealla, Gweod, Adhor, Clewin, Bisam, Dehal, Ven, Johan
				[/not]
				x=$x1
				y=$y1
			[/recall]
		[/event]
	
		# FREE THE SLAVES: SLAVES #3
		[event]
			name=moveto
			[filter]
				side=1
				x,y=5,15
			[/filter]
	
			[recall]
				level=3,2,1
				[not]
					id=Denvan, Lenvan, Ysedda, Petar, Brealla, Gweod, Adhor, Clewin, Bisam, Dehal, Ven, Johan
				[/not]
				x=$x1
				y=$y1
			[/recall]
	
			[recall]
				level=2,1,0
				[not]
					id=Denvan, Lenvan, Ysedda, Petar, Brealla, Gweod, Adhor, Clewin, Bisam, Dehal, Ven, Johan
				[/not]
				x=$x1
				y=$y1
			[/recall]
		[/event]

	# SCOUTS REUNITED

	# TwO FRONTS

	#
	# V I C T O R I E S
	#

	# WROELL DIES
	[event]
		name=last breath
		[filter]
			id=Wroell
		[/filter]

		[message]
			speaker=Wroell
			# po: "Verfluchter… Karga…"
			message= _ "Cursed… Karga…"
		[/message]
		[endlevel]
			result=victory
			bonus=yes
			{NEW_GOLD_CARRYOVER 40}
		[/endlevel]
	[/event]
	
	# VICTORY EVENT
	[event]
		name=victory

		[message]
			speaker=Lenvan
			# po: "Sieg! Ich wusste, die Orks würden gegen uns nicht bestehen können!"
			message= _ "Victory! I knew the Orcs wouldn’t be able to stand against us!"
		[/message]

		[message]
			speaker=Denvan
			# po: "Ich hoffe doch, dass du nicht glaubst, dass die Situation mit der in unserer Heimat gleichzusetzen ist, Bruder."
			message= _ "I hope you don’t think that this situation is the same as the one in our homeland, brother."
		[/message]

		[message]
			speaker=Lenvan
			# po: "Warum nicht? Wir haben in einer Unterzahl gegen die Orks gekämpft und gewonnen!"
			message= _ "Why not? We fought the Orcs at a numerical disadvantage and won!"
		[/message]

		[message]
			speaker=Denvan
			# po: "Mit  Verbündeten!"
			message= _ "With allies!"
		[/message]

		[message]
			speaker=Borogar
			# po: "Temporären Verbündeten."
			message= _ "Temporary allies."
		[/message]

		[message]
			speaker=Lenvan
			# po: "Wir brauchten den Mut um anzugreifen! Alles andere ist nebensächlich!"
			message= _ "We needed the courage to attack! Everything else is secondary!"
		[/message]

		[message]
			speaker=Dwinbar
			# po: "Pass auf, wen du hier nebensächlich nennst, Mensch!"
			message= _ "Watch who you’re calling secondary, human!"
		[/message]

		[message]
			speaker=Denvan
			# po: "Er meint es nicht so, er ist nur-"
			message= _ "He doesn’t mean it that way, he’s just-"
		[/message]

		[message]
			speaker=Lenvan
			# po: "Und ob ich das so meine! Wir sind in der Lage, für uns selbst zu kämpfen! Wir brauchen keine Hilfe von diesen  Miniatur-Menschen!"
			message= _ "And what if I meant it that way! We are able to fight for ourselves! We don’t need any help from these miniature people!"
		[/message]

		[message]
			speaker=Denvan
			# po: "<i>laut</>Es reicht, Lenvan!"
			message= _ "<i>loudly</>Enough, Lenvan!"
		[/message]

		[message]
			speaker=Dwinbar
			# po: "In der Tat. Wir hätten mit euch gekämpft, doch wir werden uns diese Respektlosigkeit nicht gefallen lassen! Ihr seid wieder auf euch allein gestellt."
			message= _ "Indeed. We would have fought with you, but we will not tolerate this disrespect! You are on your own again."
		[/message]

		[message]
			caption="Veomyr"	
			speaker=narrator
			image=portraits/veomyr.png
			# po: "Dwinbar und seine Truppen verließen die Menschen, was die meisten der ehemaligen Sklaven entmutigte. Nicht so Lenvan, der in dieser Zeit des Zweifels genug Anhänger um sich scharen konnte, um sie davon zu überzeugen, die Orks auch ohne weitere Truppen erneut anzugreifen."
			message= _ "Dwinbar and his troops left the humans, which disheartened most of the former slaves. But not Lenvan, who in this time of doubt could gather enough followers to convince them to attack the Orcs again without further troops."
		[/message]

		[message]
			speaker=Dwinbar
			# po: "Denvan hatte das Vertrauen in seinen Bruder fast vollständig verloren, konnte ihn jedoch weder alleine in die Schlacht ziehen lassen noch von seinem Plan abbringen, also bat er Ysedda, jene Menschen, die nicht kämpfen wollten oder konnten in Sicherheit zu bringen. Sie wählte einige Kämpfer, die von Lenvans Kurs ebenfalls nicht überzeugt waren, und  machte sich mit den Zivilisten auf die Suche, nach einem sicheren Ort, um eine Siedlung zu gründen."
			message= _ "Denvan had almost completely lost faith in his brother, but he could neither let him go into battle alone nor dissuade him from his plan. So he asked Ysedda to bring to safety everyone who did not want to or could not fight. She chose some fighters who were not convinced of Lenvan’s actions and took the civilians to search for a safe place to found a settlement."
		[/message]
	[/event]

	#
	# D E F E A T S
	#

	# DWINBAR DIES
	[event]
		name=die
		[filter]
			id=Dwinbar
		[/filter]

		[message]
			caption="Veomyr"	
			speaker=narrator
			image=portraits/veomyr.png
			# po: "Ohne ihren Anführer hätten sich die Zwerge gewiss zurückgezogen und die ehemaligen Bewohner Korstads wären bis zu ihrem Lebensende Sklaven geblieben."
			message= _ "Without their leader the dwarves would certainly have retreated and the former inhabitants of Korstad would have remained slaves until the end of their lives."
		[/message]

		[endlevel]
			result=defeat
		[/endlevel]
	[/event]

	# DENVAN DIES
	[event]
		name=die
		[filter]
			id=Denvan
		[/filter]

		[message]
			caption="Veomyr"	
			speaker=narrator
			image=portraits/veomyr.png
			# po: "Auch wenn in dieser Schlacht Lenvan die Korstadter anführte, hätte der Tod Denvans die Geschichte vollkommen verändert."
			message= _ "Even with Lenvan leading the people of Korstad in this battle, the death of Denvan would have completely changed this story."
		[/message]

		[endlevel]
			result=defeat
		[/endlevel]
	[/event]

	# LENVAN DIES
	[event]
		name=die
		[filter]
			id=Lenvan
		[/filter]

		[message]
			caption="Veomyr"	
			speaker=narrator
			image=portraits/veomyr.png
			# po: "Wäre Lenvan hier gestorben, so hätten die Korstadter in einem ihrer kritischsten Augenblicke keinen Anführer gehabt und wären dem Untergang geweiht gewesen."
			message= _ "If Lenvan had died here, the people of Korstad would have been without a leader in their most critical moment and would have been doomed."
		[/message]

		[endlevel]
			result=defeat
		[/endlevel]
	[/event]

	# YSEDDA DIES
	[event]
		name=die
		[filter]
			id=Ysedda
		[/filter]

		[message]
			caption="Veomyr"	
			speaker=narrator
			image=portraits/veomyr.png
			# po: "Ysedda hat in unserer Geschichte noch eine wichtige Rolle zu spielen, sie starb hier also nicht."
			message= _ "Ysedda still has an important role to play in our story, so she did not die here."
		[/message]

		[endlevel]
			result=defeat
		[/endlevel]
	[/event]

	# TIME OVER
	[event]
		name=time over

		[message]
			caption="Veomyr"	
			speaker=narrator
			image=portraits/veomyr.png
			# po: "Hätten die Orks sich so lange gegen den Angriff der Zwerge und Korstadter wehren können, hätten sie sicher Verstärkung erhalten, die den Aufstand mühelos niedergeschlagen hätte."
			message= _ "Had the Orcs been able to defend against the dwarves and people of Korstad for so long, they certainly would have gotten reinforcements which would have crushed the rebellion with ease."
		[/message]

		[endlevel]
			result=defeat
		[/endlevel]
	[/event]

[/scenario]