#textdomain wesnoth-anh

#define ANH_DEFEATS

    #
    # DIE - EVENTS
    #
    [event]
        name=die
        [filter]
            id=Denvan
            [or]
                id=Lenvan
            [/or]
            [or]
                id=Ysedda
            [/or]
            [or]
                id=Johan
            [/or]
        [/filter]
        [message]
            caption= "Veomyr"
            speaker=narrator
            image=portraits/veomyr.png
            message= _ "Und so wäre der Versuch das Tal einzunehmen gescheitert. Glücklicherweise trug es sich anders zu."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    
#enddef

#define ANH_DEFEAT_SCOUTS
    #
    # The Scouts should also survive!
    #
    [event]
        name=last breath
        first_time_only=no
        
        [filter]
            id=Clewin
            [or]
                id=Adhor
            [/or]
            [or]
                id=Bisam
            [/or]
            [or]
                id=Dehal
            [/or]
        [/filter]
        
        {VARIABLE_OP scout_members_left sub 1} 
    [/event]
    
    [event]
        name=die      
        first_time_only=no
        
        [filter]
            id=Clewin
            [or]
                id=Adhor
            [/or]
            [or]
                id=Bisam
            [/or]
            [or]
                id=Dehal
            [/or]
        [/filter]      
        
        [if]
            [variable]
                name=scout_members_left
                numerical_equals=0
            [/variable]      
            [then]               
                [message]
                    caption= _ "Veomyr"
                    image=portraits/veomyr.png
                    speaker=narrator
                    message= _ "Hier habe ich vielleicht etwas übertrieben, was die Verluste anging. Hätte Korstad nach der Schlacht keine Späher gehabt, wäre ein Sieg bedeutungslos geworden. Wenn ich die Geschichte erst einmal richtig erzählt habe, wisst Ihr warum. Doch nun: Noch einmal von Anfang an...."
                [/message]
                
                [endlevel]
                    result=defeat
                [/endlevel]
                {CLEAR_VARIABLE scout_members_left}
            [/then]
        [/if]     
    [/event]
#enddef